.horizontalbar{
  position: fixed;
  top:0;
  border: 1px solid grey;
  width: 100%;
  padding: 10px;
  color: black; 
  background-color: yellow;
  text-align: center;
  padding-top: 20px;
}

.stickybar{
  position: sticky;
  top: 45px;
  border: 1px solid grey;
  width:100vw;
  padding: 10px;
  color: black; 
  background-color: rgb(2, 132, 238);
  text-align: center;
}


p{
  margin-top: 100px;
  margin-left: 30vw;
  margin-right: 3vw;
  text-align: justify;
}



.container{
  margin-top: 20px;
  margin-right: 20px;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
}

.relative {
  position: relative;
  margin: auto;
  width: 500px;
  height: 250px;
  border: 2px solid black;
} 

.absoluteLeftBottom {
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 100px;
  height: 100px;
  border: 2px solid red;
  background-color: aqua;
}

.absoluteRightTop {
  position: absolute;
  top: 0px;
  right: 0;
  width: 200px;
  height: 50px;
  border: 2px solid green;
  background-color: bisque;
}

.absoluteCenter{
  position: absolute;
  top: 45%;
  left: 45%;
  width: 50px;
  height: 50px;
  border: 2px solid darkblue;
  background-color: grey;
}

.direction{
  text-align: center;
}

a{
  color: black;
}

a:visited{
  color: red;
}


a:hover{
  font-size: 50px;
}

.beforeAfter::after{
  content: " - this is after content";
}

.Box{
  text-align: center;
  border: 1px solid grey;
  margin: 5px;
}

@media screen  and (min-width: 760px) {
  .Box{
    width: 100%;
    height: 120px;
    vertical-align: center;
  }

  .container{
    text-align: center;
    flex-direction: row;
  }

}



.boxFlex{
  min-width: 200px;
  min-height: 200px;
  border: 2px solid black;
  background-color: aqua;
  color: black;
  flex:25%;
  box-sizing: border-box;
  margin: 20px;
}

