.stockBackground{
    border:  solid white;
    width: 95vw;
    margin: auto;
    margin-top: 40vh;
    background-color: white;
    text-align: center;
}

p{
    color: black;
}

h4{
    color: black;
}

.clockContainer {
    display: flex;
    justify-content: space-around;
    margin: 10px;
}

.counterBtn{
    color: white;
    background-color: #3f51b5;
    border-radius: 4px;
    border-color:none;
    border-image: none;
    border-width: 0em;
    border-style: none;
    height: 20px;
    min-width: 65px;
    min-height: 33px;
}

.speedBtn{
    color: white;
    background-color: #f50057;
    border-radius: 4px;
    border-color:none;
    border-image: none;
    border-width: 0em;
    border-style: none;
    height: 20px;
    min-width: 65px;
    min-height: 33px;
    margin-right: 0.1rem;
}

.eventsContainer {
    background-color: #faebd7;
    border-color: 1px solid grey;
    padding: 10px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding: 0;
    margin: 0;
    
}

.cardContainer {
    width: 150px;
    height: 150px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: white;
    text-align: center;
    grid-template-columns: 1fr 1fr 1fr;  
    grid-template-areas: "cardtitle  cardtitle cardtitle" "cardbody  cardbody cardbody" "cardaction  cardaction cardaction" 
}


@media (min-width: 600px) {
   .borderForFlex{
     margin-top: 13vh;
   }

}


code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}


.buttons {
    display: flex;
}


.cardContainer, .cardContainerError {
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, .0625);
    display: grid;
    padding: 10px;
    opacity: .9;
    box-shadow: 1px 1px 3px #90ee90;
    grid-template-rows: 1fr 1fr 1fr;
}


.cardContainerError {
    min-height: 300px;
    min-width: 500px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: "cardtitle  cardtitle cardtitle" "cardbody  cardbody cardbody" "cardbody  cardbody cardbody" "cardaction  cardaction cardaction"}
    
.cardtitle {
    grid-area: cardtitle;
    font-weight: 700;
    color: black;
    font-size: 18px;
}
.cardbody, .cardtitle {
    justify-self: center;
    align-items: center;
    color: black;
}
.cardbody {
    grid-area: cardbody;
    font-size: 18px;
    color: black;
}
.cardaction {
    grid-area: cardaction;
    justify-self: center;
    align-items: center;
}
.cardMediumContainer {
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, .0625);
    display: grid;
    padding: 10px;
    opacity: .9;
    min-height: 200px;
    min-width: 400px;
    box-shadow: 1px 1px 3px #90ee90;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: "cardtitle  cardtitle cardtitle" "cardbody  cardbody cardbody" "cardaction  cardaction cardaction"
}

.ask-bid-container {
    display: flex;
    justify-content: space-between;
}
